html {
    background-image: url('https://cdn.wallpapersafari.com/34/69/woZQ4d.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
} 
.breadcrumb li {
    display: inline;
    float: left;
}
  .breadcrumb li+li::before {
    color: rgb(255, 8, 0);
    content: ">";
}
a {
    color: rgb(60, 255, 0);
}
.fixed-button {
    position: fixed;
    top: 20px; /* Adjust the desired distance from the bottom */
    right: 0px; /* Adjust the desired distance from the right */
    z-index: 9999;
  }
.pic {
    display: flex;
    justify-content: space-between;
}
#gbyf {
    float: left ;
    height: auto;
    width: auto;
    display: flex;
    margin: auto;
}
#tbd {
    justify-content: center;
    height: auto;
    width: auto;
    display: flex;
    margin: auto;
}
#ted {
    float: right ;
    height: auto;
    width: auto;
    display: flex;
    margin: auto;
}
.soc {
    text-align: right;
}
h2 {
    color: rgb(255, 94, 0);
    font-family: 'Ruda', sans-serif;
    font-size: 70px;
    font-weight: 900;
    margin: 0px;
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
}
h3,h4,h5 {
    color:  rgb(0, 173, 23);;
    font-family: 'Ruda', sans-serif;
    font-size: 30px;
    font-weight: 900;
    margin: 0px;
    padding-top: 20px;
    text-align: center;
}
#gen {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 0px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
#steps {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 0px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}
#project {
    color: rgb(238, 255, 0);
    font-size: 20px;
    margin: 0px;
    padding-top: 20px;
}
#extra {
    text-align: center;
    color: rgb(0, 255, 242);
    font-size: 20px;
    margin: 0px;
    padding-top: 20px;
}
#content {
    min-height: calc(100% - 60px); /* Adjust the height based on your footer's height */
    padding-bottom: 100px; /* Adjust the padding to create space for the footer */
  }  
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f9f9f9;
    padding: 20px;
  }  
#code {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
button {
    margin: auto;
    border: 3px solid rgb(255, 0, 0);
    background-color: black;
}
